@import '../utils/mixins';
@import '../utils/variables';

.app {
  &--white {
    background-color: #ffffff;
  }

  &--grey {
    background-color: $light-grey;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  color: #000;
}

header {
  padding-bottom: 1rem;
}

.text {
  &--blue {
    color: $blue;
  }
}