//@import '../utils/mixins';
//@import '../utils/variables';

/*MAIN*/

html, body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a:active,
a:hover {
  outline: 0;
}

button {
  border: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  outline: none;
  padding: 0;
  line-height: normal;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}
