.button {
  border: 1px solid $light-blue;
  color: $light-blue;
  background-color: white;
  padding: 0.7rem 2.2rem;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 600;

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto 3rem;
  }

  @include radius(8px);

  @include sm {
    margin: 0;
  }

  &:hover {
    border: 1px solid $blue;
    color: $blue;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15);
  }

  &:active {
    box-shadow: none;
  }
}