.comment {
  background-color: white;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid $light-grey;
  box-shadow: 0 2px 8px $grey;
  color: $dark-grey;

  &__mail {
    color: $blue;
    font-size: 0.9rem;
    padding-bottom: 1rem;
  }

  &__name {
    font-weight: 600;
    font-size: 0.9rem;
    padding-bottom: 0.4rem;
  }

  &__content {
    padding-bottom: 1rem;
    font-size: 1.1rem;
  }
}

.comments {
  &__header {
    width: 100%;
    display: flex;
    color: $dark-grey;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}