.posts {
  &__header {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;

    &--big {
      font-weight: 600;
      font-size: 1.2rem;
      text-transform: uppercase;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $grey;
    }

    a {
      color: $light-blue;
      font-weight: 600;

      &:hover {
        color: $blue;
      }
    }
  }
}