.post-card {
  width: 100%;
  text-align: left;
  margin-bottom: 3rem;

  &__title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }

  &__content {
    color: $dark-grey;
    font-size: 1.1rem;
  }
}