// Colors
$blue: #1890ff;
$light-blue: #4bb1ff;
$dark-grey: rgba(0,0,0,0.54);
$grey: #eee;
$light-grey: #f5f5f5;
$border-grey: 1px solid $grey;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;